__pycache__/
.DS_Store
venv/
.python-version

output
processed
logs/.gitkeep 
logs/*.log
.env


# latex build files
thesis/**/*.aux
thesis/**/*.bbl
thesis/**/*.bcf
thesis/**/*.blg
thesis/**/*.fdb_latexmk
thesis/**/*.fls
thesis/**/*.lof
thesis/**/*.log
thesis/**/*.lot
thesis/**/*.out
thesis/**/*.run.xml
thesis/**/*.synctex.gz
thesis/**/*.toc
thesis/**/*.pdf
data/alignment/
data/evaluation/
data/experiments/
data/red_team_results/
data/test_set/
data/vector_db/

data/processed_test/
figures/test_pdffigures2.ipynb
notebooks/surya_debug

reports
debug
vllm_server.log

pdf_images
images

data/