requests
pydantic
pydantic-settings
beautifulsoup4
fpdf
pymupdf
pdfplumber

pdf2image

llmwhisperer.client


transformers
qwen-vl-utils

torch
torchvision

accelerate

pandas

openai

tiktoken
sentence_transformers

chromadb